registry = "http://192.168.20.9:8081/repository/npm-group/"
@4dst-render:registry = "http://192.168.20.9:8081/repository/npm-hosted"
@4dst-saas:registry = "http://192.168.20.9:8081/repository/npm-hosted"