.h-table {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 3px 6px 0px rgba(128,128,128,0.18); 
  .el-table__empty-block{
    // 空白页
    max-width: 100%;
  }
  .h-table-wrap {
    position: relative;
    padding: 0 20px 20px 20px;
    flex: 1;
  }
  &.has-title{
    .h-table-title{
      padding: 0 20px;
      height: 46px;
      line-height: 46px;
      font-size: 16px;
      font-weight: 400;
      color: $color-font-darkest;
      border-bottom: 1px solid #eeeeee;
      &+.h-table-wrap{
        // padding: 20px;
        // background: #ffffff;
        // box-shadow: 0px 3px 6px 0px rgba(128,128,128,0.18);
      }
    }
  }
  .default-sd-table-search{
    .el-input__prefix{
      color:#666666
    }
  }
  
  .h-form{
    margin-right: -10px!important;
    .el-form-item{
      margin: 20px 8px 14px 0;
    }
  }
  &-icon{
    font-size:24px;
  }

  &-btns {
    margin-bottom: 18px;
  }
  .tool-btns {
    display: inline-block;

    .el-button + .tool-confirm,
    .tool-confirm + .el-button,
    .tool-confirm + .tool-confirm {
      margin-left: 10px;
    }
  }
  .h-page {
    margin: 25px 0 5px 0;
  }
  .slot-form{
    justify-content: space-between;
  }
  .text-link{
    font-size: 14px;
    display: inline-block;
  }
  .handle-btns-bar{
    position: absolute;
    top: 28px;
  }
  #hTableWrap{
    position: relative;
    .table-mask{
      background: rgba(0, 0, 0, 0.6);
      z-index:888;
      left: -20px;
      right: -20px;
      bottom: -25px;
    }
  }

  .btn-view-switch{
    position: absolute;
    border-radius: 3px !important;
    padding: 7px;
    margin-top: 20px;
    // UI希望视图切换按钮只保留hover的状态，选中和点击的状态都不要, 所以只能把hover样式再写一遍(后写覆盖先写)
    &:active, &:focus{
      color: #666;
      border: 1px solid #DCDFE6;
      background-color: inherit;
    }
    &:hover{
      color: $color-primary;
      border-color: #b3ebe9;
      background-color: #e6f8f8;
    }
  }
}